*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
}

nav{
    
    display: flex;
    justify-content: center;
    padding-top: 2em;
    gap: 3em;
    height: 10%;

}
.content{
   text-align: center;

   color: rgb(157, 16, 16);
 
}

.Btn{
  font-size: 2em;
  cursor: pointer;
}
.Btn:hover{
  
   color: rgb(176, 21, 4);
}





